<% content_for :styles do %>
  <link href="/assets/css/home.css" rel="stylesheet">
  <style type="text/css">
  	/* Custom CSS for this page */

  </style>
<% end %>

<div class="row">
  <!-- Page Content -->
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
  	// Custom JS for this page only
  </script>
  <script type="text/javascript" src="/assets/js/home.js"></script>
<% end %>